In [1]:
print("Hello World")

Hello World

# Data Types

1. Numbers
2. Strings
3. List
4. Tuple
5. Dictionary
6. Sets

# Numbers

1. Integers
2. Floats
3. Complex

In [2]:
x = 45
y = 56.78
z = 1235+34.34j

In [12]:
print("Type of x ",type(x))
print("Type of y ",type(y))
print("Type  of z ",type(z))

Type of x  <class 'int'>
Type of y  <class 'float'>
Type  of z  <class 'NotImplementedType'>

In [15]:
print("X = ",x)
print("Y = ",y)
print("Z = ",z)
x = 5
y = 6.34
z = x.__add__(y)
print(z)

X =  5
Y =  6.34
Z =  NotImplemented
NotImplemented

# Strings

1. 'single quoted string'
2. "Double quoted string"
3 . """ you can initlize a para directly in python.
this is line 2nd.
this is line 3rd.
    para spaces"""

In [5]:
x = "he is so good in cricket."
y = 'yeah, you are right.'
z = """Python is an awesome language.
it is developed by Guido Van Rossum in 1989.
    IBM and Google are those companies which adopted python 
in it's earlier phase.
"""

In [30]:
print(x)
print(y)
print(z)
s = "he's not so good."
y = "he\"s not so good."
print(s)
print(y)

5
6.34
NotImplemented
he's not so good.
he"s not so good.

In [9]:
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [31]:
s = "           HeLlo WorLd !           "
print(s)

           HeLlo WorLd !

In [32]:
k = s.strip()
print(s)
print(k)

           HeLlo WorLd !
HeLlo WorLd !

In [41]:
one = 'hello '
two = 'hi'
print(one+two)
print(s.capitalize.__doc__)

hello hi
S.capitalize() -> str

Return a capitalized version of S, i.e. make the first character
have upper case and the rest lower case.

In [46]:
s = "      HeLlo WorLd     "
k = s.strip() # remove all leading and trailing spaces
l = s.upper() #it will change all char into uppercase
p = s.lower()
n = s.swapcase()
q = s.strip().capitalize()#only first charcter will be capital and rest will small

In [47]:
print(s)
print(k)
print(l)
print(p)
print(n)
print(q)

      HeLlo WorLd
HeLlo WorLd
      HELLO WORLD
      hello world
      hElLO wORlD
Hello world

# List

a list is just a collection of other elements.
a element can be anything, it can be number it can string, it can be list, or any valid python object or attribute

if All elements of a list are of same type then list is known as array
list can be homogenous or hetrogenous
homogenous -> similar elements
hetrogenous -> different elements

all the arrays are lists but list can be all time a array.

In [49]:
mylist = [ 1,2,3,4,57] #homogenous
mylist2 = [ 'hi','hello','how'] #homogenous
mylist3 = [ 1,2,3.14,5+6j,['h','i','o'],'hello','hi'] #structure

In [50]:
print(mylist)

[1, 2, 3, 4, 57]

In [51]:
print(mylist3)

[1, 2, 3.14, (5+6j), ['h', 'i', 'o'], 'hello', 'hi']

In [52]:
l = [ 1,2,3,'hello','hi',3.14,'bye']
print(l[4])
print(l[-3])

hi
hi

In [53]:
l = [ 1,2,3,[3,4,5,6,7,8,8,10],'hi','hello']

In [55]:
print(l[3][3])

6

In [57]:
l = [
    [3,4,435,56,53,4,2],
    [23,4,5,[57,68,656],45,],
    [2,3,5,56,67,545,3,4,],
]

In [58]:
print(l[1][3][-1])

656

In [61]:
#l[start:end:step]
l = [ 45,457,5,4,34,3,65,7,4324,67,4,342,345,567,]
print(*l)

45 457 5 4 34 3 65 7 4324 67 4 342 345 567

In [65]:
print("Python")
print(*"Python")
l = [ 1,2,3,'python',[4,5,6],43,34,343]
print(*l)

Python
P y t h o n
1 2 3 python [4, 5, 6] 43 34 343

In [70]:
l = range(0,101,5)
print(l)
print(*l)

range(0, 101, 5)
0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100

In [72]:
l = list('23432#@$^%$^&$%^$%#pyth9723498on')
print(l)

['2', '3', '4', '3', '2', '#', '@', '$', '^', '%', '$', '^', '&', '$', '%', '^', '$', '%', '#', 'p', 'y', 't', 'h', '9', '7', '2', '3', '4', '9', '8', 'o', 'n']

In [2]:
l = list(range(1,50,3))
print(type(l))
print(l)

<class 'list'>
[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

In [3]:
s = l[5:11:2]
print(s)

[16, 22, 28]

In [4]:
s = l[:5]
print(s)
s = l[5:]
print(s)
print(l)

[1, 4, 7, 10, 13]
[16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]
[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

In [5]:
s  = l[-15:-10]
print(s)

[7, 10, 13, 16, 19]

In [82]:
print(l)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

In [87]:
s = l[15::+2]
print(s)

[46]

In [88]:
print(l)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

In [7]:
s = l[::-1]
print(s)
s = l[:-1]
print(s)
s = l[1:1:-1] 
print(s)

[49, 46, 43, 40, 37, 34, 31, 28, 25, 22, 19, 16, 13, 10, 7, 4, 1]
[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46]
[]

In [90]:
l = list(range(1,128))

In [91]:
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127]

In [94]:
print(l[-1:-16:-1])
print(l[-15:])

[127, 126, 125, 124, 123, 122, 121, 120, 119, 118, 117, 116, 115, 114, 113]
[113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127]

In [95]:
x = len(l)
print(x)

127

In [96]:
#list is a mutable data type
l = [ 234,5,443,2,4,55,7,342,4,6,3,24 ]
print(dir(l))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [103]:
l = [12,34,45,35]
l[2] = l[2]*3
k = [ 'hello','hi','how']
s = l + k 
print(l)
print(k)
print(s)
n = 3*l
print(n)

[12, 34, 135, 35]
['hello', 'hi', 'how']
[12, 34, 135, 35, 'hello', 'hi', 'how']
[12, 34, 135, 35, 12, 34, 135, 35, 12, 34, 135, 35]

In [105]:
l = [ 'hello','hi']
print(l)
l[1] = 5
print(l)
print(dir(l))

['hello', 'hi']
['hello', 5]
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [107]:
l = [ 23,54,46,57 ]
k = l.copy()
j = l
print(l)
print(k)
print(j)

[23, 54, 46, 57]
[23, 54, 46, 57]
[23, 54, 46, 57]

In [108]:
l.append('hello')
print(l)
print(j)
print(k)

[23, 54, 46, 57, 'hello']
[23, 54, 46, 57, 'hello']
[23, 54, 46, 57]

In [109]:
l.insert(2,'bye')
print(l)
print(j)
print(k)

[23, 54, 'bye', 46, 57, 'hello']
[23, 54, 'bye', 46, 57, 'hello']
[23, 54, 46, 57]

In [111]:
l = [ 1,2,3]
l.append('hello')
l.extend('python')
print(l)

[1, 2, 3, 'hello', 'p', 'y', 't', 'h', 'o', 'n']

In [113]:
l = [ 'hi','hello',1,2,3]
l.append([4,5,6])
l.extend([7,8,9])
print(l)

['hi', 'hello', 1, 2, 3, [4, 5, 6], 7, 8, 9]

In [114]:
x = l.pop()
print("Deleting ",x)
print(l)

Deleting  9
['hi', 'hello', 1, 2, 3, [4, 5, 6], 7, 8]

In [115]:
y = l.pop(1)
x = l.pop(0)
print("{} and {} are deleted from list.".format(x,y))
print(l)

hi and hello are deleted from list.
[1, 2, 3, [4, 5, 6], 7, 8]

In [116]:
l.remove([4,5,6])
print(l)

[1, 2, 3, 7, 8]

In [120]:
l1 = [ 1,23,5,34,3,2,3235,46,5,53,4,]
l2 = [ 'hello','jcb','java','c','Zesus','c++','perl','ruby']

In [121]:
l1.sort()
l2.sort()

In [122]:
print(l1)
print(l2)

[1, 2, 3, 4, 5, 5, 23, 34, 46, 53, 3235]
['Zesus', 'c', 'c++', 'hello', 'java', 'jcb', 'perl', 'ruby']

In [124]:
l1 = [ 1,23,5,34,3,2,3235,46,5,53,4,]
l2 = [ 'hello','jcb','java','c','Zesus','c++','perl','ruby']
print(l1)
print(l2)

[1, 23, 5, 34, 3, 2, 3235, 46, 5, 53, 4]
['hello', 'jcb', 'java', 'c', 'Zesus', 'c++', 'perl', 'ruby']

In [125]:
l1.sort(reverse=True)
l2.sort(reverse=True)
print(l1)
print(l2)

[3235, 53, 46, 34, 23, 5, 5, 4, 3, 2, 1]
['ruby', 'perl', 'jcb', 'java', 'hello', 'c++', 'c', 'Zesus']

In [127]:
s = [ 234,5,34,34,'hello','hi',123]
print(s)
s.reverse()
print(s)
s.clear()
print(s)

[234, 5, 34, 34, 'hello', 'hi', 123]
[123, 'hi', 'hello', 34, 34, 5, 234]
[]

In [129]:
del s

In [132]:
l = [ 1,2,43,1,24,35,1,2,424,21,2,1,1,1,1,1,2,34,35,32,532,32,34,32,2]

In [133]:
print(l)

[1, 2, 43, 1, 24, 35, 1, 2, 424, 21, 2, 1, 1, 1, 1, 1, 2, 34, 35, 32, 532, 32, 34, 32, 2]

In [137]:
one = l.count(1)
th = l.count(3)
t = l.count(2)
print(one)
print(th)
print(t)

0
0
5

In [138]:
l.sort();l=l[l.count(1):]
print(l)

[2, 2, 2, 2, 2, 21, 24, 32, 32, 32, 34, 34, 35, 35, 43, 424, 532]

In [139]:
print(l)

[2, 2, 2, 2, 2, 21, 24, 32, 32, 32, 34, 34, 35, 35, 43, 424, 532]

In [140]:
c = l.count(35)#2
i = l.index(35) #12
k = l[:i] #l[0:12]
j = l[i+c:] #l[14:]
l = k+j
print(l)

[2, 2, 2, 2, 2, 21, 24, 32, 32, 32, 34, 34, 43, 424, 532]