# For Loops

In [ ]:
#sequence
list
tuple
#iterator
#values are lost after it is used or take out form an iterator , can't be accessed again
#they are stoped using stop itor function
iter

In [4]:
s = 'Hell0 World'
print(s[:])
print(s[::-1])
print(s[:3])

Hell0 World
dlroW 0lleH
Hel

In [8]:
s = 'yolo world'
s = iter(s)
print(s)
next(s)

<str_iterator object at 0x000001E2BFC557B8>

'y'

In [9]:
next(s)

'o'

In [10]:
next(s)

'l'

In [11]:
next(s)

'o'

In [17]:
#for loop example
s = "hello"
for x in s:
    print(x)
for y in "Nigga":
    print(y)

h
e
l
l
o
N
i
g
g
a

In [18]:
l = ['hello','yo',1,2,3,5,4,['nigger','yolo'],123,456,789]
for g in l:
    print(g)

hello
yo
1
2
3
5
4
['nigger', 'yolo']
123
456
789

In [22]:
#table using for loop
num = int(input("enter the value: "))
t = [1,2,3,4,5,6,7,8,9,10]
for n in t:
    print(num,"x",n,"=",num*n)

enter the value: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [28]:
#example for 2 using Dictonary
d = {'name': 'python',
    'version': '3.6',
    "father" : "GG boi",
     "named on": "monty python",
    "type": "oops",
    'type': 'iterpretor'}
for var in d :
    print(var,"=",d[var])

name = python
version = 3.6
father = GG boi
named on = monty python
type = iterpretor

In [32]:
s = {'hello','hi',1,2,3,4,5,'bye','gg','lol',56,89}
for var in s:
    print(var)

1
2
3
4
5
gg
hello
hi
lol
56
89
bye

In [38]:
l = [(1,2),("hello","hi"),("how","are you"),(3,4),(9,0),('java',"python"),['gg','pota']] #sequence size must be same like if there are only 2 values the all much be 2 values in the bracketes
c = 0
for var1,var2 in l:
    print("Iteration: ",c)
    print("value: ",var1)
    print("value: ",var2)
    print("\n")
    c = c + 1

Iteration:  0
value:  1
value:  2


Iteration:  1
value:  hello
value:  hi


Iteration:  2
value:  how
value:  are you


Iteration:  3
value:  3
value:  4


Iteration:  4
value:  9
value:  0


Iteration:  5
value:  java
value:  python


Iteration:  6
value:  gg
value:  pota

In [41]:
d = {'name': 'python',
    'version': '3.6',
    "father" : "GG boi",
     "named on": "monty python",
    "type": "oops",
    'type': 'iterpretor'}
for key,value in d.items() :
    print("{} = {}".format(key,value))

name = python
version = 3.6
father = GG boi
named on = monty python
type = iterpretor

In [45]:
#comparing list while printing them togeter but length must be same
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [11,22,33,44,55,66,77,88,99,100]
for x in zip(l1,l2):
    print(x)

(1, 11)
(2, 22)
(3, 33)
(4, 44)
(5, 55)
(6, 66)
(7, 77)
(8, 88)
(9, 99)
(10, 100)

In [47]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [11,22,33,44,55,66,77,88,99,100]
for x in zip(l1,l2):
    k = list(x)
    print(k)

[1, 11]
[2, 22]
[3, 33]
[4, 44]
[5, 55]
[6, 66]
[7, 77]
[8, 88]
[9, 99]
[10, 100]

In [48]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [11,22,33,44,55,66,77,88,99,100]
for x,y in zip(l1,l2):
    print("value 1: ",x)
    print("value 2:",y)
    print("\t")

value 1:  1
value 2: 11

value 1:  2
value 2: 22

value 1:  3
value 2: 33

value 1:  4
value 2: 44

value 1:  5
value 2: 55

value 1:  6
value 2: 66

value 1:  7
value 2: 77

value 1:  8
value 2: 88

value 1:  9
value 2: 99

value 1:  10
value 2: 100

In [1]:
#dictonary printing through input
x,y = input("Enter the key: ").split(','),input("Enter the value: ").split(',')
v1 = dict(zip(x,y))
print("Dictonary:",v1)

Enter the key: yolo,gg,lol
Enter the value: 1,2,3
Dictonary: {'yolo': '1', 'gg': '2', 'lol': '3'}

In [3]:
#Range funtion
for var in range(1,501):
    print(var,end=",")

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,

In [18]:
for v in range (1001,1,-1):
    if v%2==0 and v%3==0 and v%5==0 :
        print(v,end="\t")

990	960	930	900	870	840	810	780	750	720	690	660	630	600	570	540	510	480	450	420	390	360	330	300	270	240	210	180	150	120	90	60	30

In [28]:
#sort list withour using sort function
l = [10,34,2,56,23,567,34,232,12,345,76,44,213,45,12,456]
for var in range(len(l)-1) :
    for var2 in range(var+1,len(l)) :
        if l[var] >= l[var2] :
            l[var],l[var2] = l[var2],l[var]
print(l)

[2, 10, 12, 12, 23, 34, 34, 44, 45, 56, 76, 213, 232, 345, 456, 567]

In [50]:
#Prime Number using for loop
num = int(input("Enter the number: "))
from math import sqrt
for var in range(2,round(sqrt(num)+1)):
    if num % var == 0:
        print(num," is not a prime number")
        break
else:
    print(num," is a prime number")

Enter the number: 63
63  is not a prime number