<h1>Operators in Python </h1>

1. Airthmatice
2. Comparison
3. Logical
4. Assigment
5. Membership
6. Identity
7. Binary

In [52]:
Airtmatic Oprator 

a) addtion +
b) subraction -
c) Multiplication *
d) Absolute Divison /
e) Modulus %
f) inter divison  or floor divison //
g) power or exponent **

SyntaxError: invalid syntax (<ipython-input-52-420e9971cffd>, line 1)

In [4]:
#Addition (binary operator)
x = 6
y = 12 
print (x+y)

18

In [6]:
s1 = "hello "
s2 = "ishi"
print (s1+s2)

hello ishi

In [7]:
l1 = [1,2,3,'hello','lol']
l2 = [3.14,'gg','dude']
l3 = [l1 + l2 ,"yeh", 'zoom']
print (l1)
print (l2)
print (l3)

[1, 2, 3, 'hello', 'lol']
[3.14, 'gg', 'dude']
[[1, 2, 3, 'hello', 'lol', 3.14, 'gg', 'dude'], 'yeh', 'zoom']

In [9]:
d1 = { 'one' : 'ek', "halo":"zoom"}
d2 = {'two': 'do',"bye": 'bye bye'}
print (d1)
print (d2)
#addition doesnt work in Dictonary

{'one': 'ek', 'halo': 'zoom'}
{'two': 'do', 'bye': 'bye bye'}

In [10]:
s1 = {1,2,3}
s2 = {4,5,6}
print (s1)
print (s2)
#addtion doesnt work in sets

{1, 2, 3}
{4, 5, 6}

In [12]:
#subraction operator
x = 3 
y = 5
print (x)
print (y)
z = x - y
print (z)

3
5
-2

In [15]:
x = 3 
y = 3.15
z = 4.5 + 6.2j
print (x)
print (y)
print (x+y+z)

3
3.15
(10.65+6.2j)

In [16]:
#multiplication
x = 3 
y = 5.6
z = 3.14 * 2.6j
print (x)
print (y)
r = x*y*z
print (r)

3
5.6
137.1552j

In [25]:
x = 50
y = 15
print ("x = {}".format(x))
print ("y = {}".format(y))
print ("r = {:6.5}".format(x/y))

x = 50
y = 15
r = 3.3333

In [28]:
# 5 + 5 = 10
x = 5
y = x + x 
print (y)
print ("{1} + {1} = {0}".format(y,x))
# x += x

10
5 + 5 = 10

In [29]:
3/4 #shell output

0.75

In [31]:
#modulus output (remainder)
x = 26 % 7 
print (x)

5

In [32]:
#floor division (gives out quotient at times when there is reminder)
#floor division is used to provide integer divison
x = 10 // 3 
print (x)

3

In [33]:
#exponent **
# x ** y -> x to the power y
x = 2 ** 4
print (x)

16

In [35]:
x = 7 ---- 3 #minus add together like basic maths
print (x)

10

In [36]:
s =  'hello'
print (s*6)

hellohellohellohellohellohello

In [37]:
l = [1,2,3]
print (l*5)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [38]:
print("*"*100)
print("*"*100)
print()
print("hello".center(60))
print("*"*50)
print("*"*50)

****************************************************************************************************
****************************************************************************************************

                           hello
**************************************************
**************************************************

In [45]:
l = []
s = [] * 5
print(s)
x = "" *5
print (x)
l = [[1]*5]
print(l)
k = [[]]*5
print(k)

[]

[[1, 1, 1, 1, 1]]
[[], [], [], [], []]

<h1>Comparision Operator</h1>

In [50]:
#numbers
print(4<5)
print(5<4)

print(4<4)
print(5>5)

print(5==5)

True
False
False
False
True

In [57]:
print (4>=4)
print (4!=5)

True
True

# Logical Operator

In [62]:
# and , or , not (unary operator)
#op1 and op2
# flase -> none , 0 , Flase (other then everything is python is true)

print(45 and 56)
print (0 and 57)
print(None and 'hello')
print (None and 0) # if there is even one value is false then the operation becomes False

56
0
None
None

In [63]:
print ((3-4+1) and 4>5)
print ((2**3-7+3 and 8-9))

0
-1

In [65]:
#truth table for and operation
print ("\top1\top2\tand")
print("\t{}\t{}\t{}".format(True,False,True and False))
print("\t{}\t{}\t{}".format(True,True,True and True))
print("\t{}\t{}\t{}".format(1,0,1 and 0))
print("\t{}\t{}\t{}".format(0,0,0 and 0))

	op1	op2	and
	True	False	False
	True	True	True
	1	0	0
	0	0	0

In [68]:
#truth table for and operation
print ("\top1\top2\tand\tor")
x = True
y = False
print("\t{}\t{}\t{}\t{}".format(x,y,x and y,x or y))
print("\t{}\t{}\t{}\t{}".format(x,x,x and x,x or x))
print("\t{}\t{}\t{}\t{}".format(y,x,y and x,y or x))
print("\t{}\t{}\t{}\t{}".format(y,y,y and y,y or y))

	op1	op2	and	or
	True	False	False	True
	True	True	True	True
	False	True	False	True
	False	False	False	False

# Assigment Operator

In [71]:
x = 10
y = 1
z = 3
r = (x+5**y/z*3-1) and (5<6 or 7>=6)
print(r)

True

# Membership Operators

In [75]:
# in or not in
# only used with Sequence (steing , list , tuple , dictornarty , set , other itera)
s = 'hello World'
k = 'ell'
x = k is s
print(x)
y = 'Hello' is s
print(y)

False
False

In [78]:
list1 = [1,2,3,4,5,'hello','hi']
list2 = [1,2,3]
print(list1 in list2)
print(list2 in list1)
x = 'hello' in list1
print(x)

False
False
True

In [83]:
# in tupple we only search for keys like words one aka 1 
d = {'one':1,'two':2}
x = 'one' in d
y = 2 not in d
z = 'three' in d
print(x)
print(y)
print(z)

True
True
False

# Identity Operator

In [84]:
# is , is not
x = 5
y = 5
z = 4
p = x is y
q = z is x
r = 5 is x
print(p)
print(q)
print(r)

True
False
True

In [85]:
l = ['hello', 5,4,3,2,1]
x = 5
print (x == l[1])
print (x is l[1])
print(id(x))
print(id(y))

True
True
1849516320
1849516320

In [90]:
#memory management in python it is dynamic
x = 123456
y = 123456
z = 45
q = 45
print(id(x))
print(id(y))
print(id(z))
print(id(q))

2141181282608
2141181282544
1849517600
1849517600

In [91]:
l =  [var for var in range (100)]
x = range(100)

In [92]:
print(*l)
print()
print(*x)

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [96]:
#for information of the object
print (type(x))
x
z = map (int,l)
print(*z)

<class 'range'>
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [98]:
print (" Size of : ",(l.__sizeof__()) )
print ("size of : ",(x.__sizeof__()))
print ("Size of : " ,(z.__sizeof__()))

 Size of :  888
size of :  48
Size of :  32