# For Loops

In [ ]:
#sequence
list
tuple
#iterator
#values are lost after it is used or take out form an iterator , can't be accessed again
#they are stoped using stop itor function
iter

In [4]:
s = 'Hell0 World'
print(s[:])
print(s[::-1])
print(s[:3])

Hell0 World
dlroW 0lleH
Hel

In [8]:
s = 'yolo world'
s = iter(s)
print(s)
next(s)

<str_iterator object at 0x000001E2BFC557B8>

'y'

In [9]:
next(s)

'o'

In [10]:
next(s)

'l'

In [11]:
next(s)

'o'

In [17]:
#for loop example
s = "hello"
for x in s:
    print(x)
for y in "Nigga":
    print(y)

h
e
l
l
o
N
i
g
g
a

In [18]:
l = ['hello','yo',1,2,3,5,4,['nigger','yolo'],123,456,789]
for g in l:
    print(g)

hello
yo
1
2
3
5
4
['nigger', 'yolo']
123
456
789

In [22]:
#table using for loop
num = int(input("enter the value: "))
t = [1,2,3,4,5,6,7,8,9,10]
for n in t:
    print(num,"x",n,"=",num*n)

enter the value: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [28]:
#example for 2 using Dictonary
d = {'name': 'python',
    'version': '3.6',
    "father" : "GG boi",
     "named on": "monty python",
    "type": "oops",
    'type': 'iterpretor'}
for var in d :
    print(var,"=",d[var])

name = python
version = 3.6
father = GG boi
named on = monty python
type = iterpretor

In [32]:
s = {'hello','hi',1,2,3,4,5,'bye','gg','lol',56,89}
for var in s:
    print(var)

1
2
3
4
5
gg
hello
hi
lol
56
89
bye

In [38]:
l = [(1,2),("hello","hi"),("how","are you"),(3,4),(9,0),('java',"python"),['gg','pota']] #sequence size must be same like if there are only 2 values the all much be 2 values in the bracketes
c = 0
for var1,var2 in l:
    print("Iteration: ",c)
    print("value: ",var1)
    print("value: ",var2)
    print("\n")
    c = c + 1

Iteration:  0
value:  1
value:  2


Iteration:  1
value:  hello
value:  hi


Iteration:  2
value:  how
value:  are you


Iteration:  3
value:  3
value:  4


Iteration:  4
value:  9
value:  0


Iteration:  5
value:  java
value:  python


Iteration:  6
value:  gg
value:  pota

In [41]:
d = {'name': 'python',
    'version': '3.6',
    "father" : "GG boi",
     "named on": "monty python",
    "type": "oops",
    'type': 'iterpretor'}
for key,value in d.items() :
    print("{} = {}".format(key,value))

name = python
version = 3.6
father = GG boi
named on = monty python
type = iterpretor

In [45]:
#comparing list while printing them togeter but length must be same
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [11,22,33,44,55,66,77,88,99,100]
for x in zip(l1,l2):
    print(x)

(1, 11)
(2, 22)
(3, 33)
(4, 44)
(5, 55)
(6, 66)
(7, 77)
(8, 88)
(9, 99)
(10, 100)

In [47]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [11,22,33,44,55,66,77,88,99,100]
for x in zip(l1,l2):
    k = list(x)
    print(k)

[1, 11]
[2, 22]
[3, 33]
[4, 44]
[5, 55]
[6, 66]
[7, 77]
[8, 88]
[9, 99]
[10, 100]

In [48]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [11,22,33,44,55,66,77,88,99,100]
for x,y in zip(l1,l2):
    print("value 1: ",x)
    print("value 2:",y)
    print("\t")

value 1:  1
value 2: 11

value 1:  2
value 2: 22

value 1:  3
value 2: 33

value 1:  4
value 2: 44

value 1:  5
value 2: 55

value 1:  6
value 2: 66

value 1:  7
value 2: 77

value 1:  8
value 2: 88

value 1:  9
value 2: 99

value 1:  10
value 2: 100

In [ ]:
x = input("Enter the key: ").split(',')
y = input("Enter the value: ").split(',')
v1 = dict(zip(x,y))
print("Dictonary:",v1)